.customHeading{
  margin-top:60px;
}

@media only screen and (max-width: 800px) {
    .customHeading {
      padding:20px;
      font-size:25px;
      margin-bottom: 0px;
      padding-bottom: 0px;;
    }
    .customImgstyle{
        height:35px;
    }
    
    .custom-para{
      font-size:15px;
    }
  }