@media screen and (max-width:768px){
    .heading{
        font-size: 25px;
    }
    .outerBox{
        
        height:100%;
       
        padding:0px;
        margin:15px; 
    
       
    }

    .applestore{
        height:100px;
    }
    .blueBox{     
        width:85vw;
        margin:20px;
        padding:5px;
        text-align: center;
    }

    .textA{
        margin-top:50px;
    }
    .adjustPadding{
        padding-left: 0px;;
    }
}